# Node
node_modules/
npm-debug.log
yarn.lock
package-lock.json

# local env
.env
.env.local

# Server-side secrets, notes
notes.json
staff.json

# VSCode
.vscode/

# mac/windows
.DS_Store
Thumbs.db
