<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Tell IIS to route all requests to server.js via iisnode -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <!-- Send everything to Node -->
        <rule name="NodeJS" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- We let Express handle static files, no IIS default docs -->
    <defaultDocument enabled="false" />
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>
