<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <!-- Use iisnode to host node -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <!-- Route all requests to server.js -->
        <rule name="NodeInspector" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <security>
      <requestFiltering removeServerHeader="true" />
    </security>

    <iisnode 
      loggingEnabled="true"
      devErrorsEnabled="true"
      logDirectory="D:\\home\\LogFiles\\iisnode"
      nodeEnvironment="production"
      enableXFF="false"
    />
  </system.webServer>

  <appSettings>
    <!-- If your start file is not server.js change it here -->
    <add key="iisnode:nodeProcessCommandLine" value="&quot;%ProgramFiles%\\nodejs\\node.exe&quot; server.js" />
  </appSettings>
</configuration>
