<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <!-- Let IIS know this is a Node.js app -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
    </handlers>

    <!-- Disable static file fallback for server.js -->
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json"/>
    </staticContent>

    <!-- Route all requests to Node.js -->
    <rewrite>
      <rules>
        <rule name="NodeRoutes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Logs -->
    <iisnode 
      loggingEnabled="true"
      devErrorsEnabled="true"
      watchedFiles="*.js;web.config"
    />

  </system.webServer>
</configuration>
